/* Variables */

$blueHex: #256F80;

$orangeHex: #F74316;

$whiteHex: #9E968F;

* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none; 
	color: white;
}

h1,h2,h3,h4,h5 {
	font-family: 'Oxygen', sans-serif;
}

header {
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	background-color: $blueHex;
	color: white;
	h1 {
		width:10%;
	}
	nav {
		width: 40%;
		ul {
			display: flex;
			justify-content: space-between;
			padding: 10px 0 0 0;
			li {
				padding: 10px 15px;
			}
			#newDealButton {
				background-color: $orangeHex;
				border-radius: 10px;
			}
		}
	}
}

/* New Deal page style */

#DealMakerMain {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	section {
		width: 400px;
		padding: 10px;
		text-align: center;
		box-shadow: 3px 22px 47px -13px $whiteHex;
		form {
			display: flex;
			flex-direction: column;
			width:100%;
			input {
				padding: 10px;
				margin-top: 20px;
				border: none;
				border-bottom: 1px solid $whiteHex;
				font-size: 1rem;
			}
			.button {
				width: 30%;
				margin-left: calc(50% - 15%);
				border: none;
			}
		}
	}
	#buyerFormSection {
		position: relative;
		margin-right: 5px;
		form {
			position: absolute;
			bottom: 10px;
			left: 0;
			input {
				margin-right: 10px;
				margin-left: 10px;
			}
			.button {
				margin-left: calc(50% - 15%);
			}
		}
	}
	#sellerFormSection {
		margin-left: 5px;
	}
}

.button {
	color: white; 
	background-color: $orangeHex;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
}